@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.ava-font {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
}

body {
  @apply bg-gradient-to-br from-blue-950 via-blue-900 to-gray-900;
  min-height: 100vh;
}